<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Zonia</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav class="navbar">
        <a class="nav-button" href="home.html">Home</a>
        <a class="nav-button" href="about.html">About</a>
        <a class="nav-button" href="contact.html">Contact Us</a>
        <a class="nav-button" href="logout">Logout</a>
    </nav>
    
    <img src="/LOGO_inv.jpg" alt="Zonia Logo">
    <div class="about-container">
        
        <div class="description">
            <h2>About Zonia</h2>
            <p>
                Welcome to Zonia – Your Gateway to Tailored Careers! 
                We leverage cutting-edge technology to connect individuals with their dream jobs. 
                Zonia, powered by ChatGPT, is a sophisticated job matching platform designed to understand your skills, preferences, and aspirations.
                 Our mission is to revolutionize the job search experience, making it personalized and efficient. 
                 Join Zonia today and embark on a journey to discover the perfect career match for you!



            </p>
        </div>
    </div>
</body>
</html>
